<div class="container bottom_border">
  <div class="row">
    <div class="col-md-4">
      <h5>Contact Us</h5>
      <ul>
        <li><a href="mailto:tswetnam@cyverse.org"><i class="fa fa-envelope"></i>tswetnam@cyverse.org</a></li>
        <li><a href="https://github.com/promethean-gift/promethean-gift.github.io" target="_blank"><i class="fa fa-github"></i>Website Suggestions</a></li>
        <li><i class="fa fa-location-arrow"></i> The University of Arizona, Tucson, AZ</li>
      </ul>
    </div>

    <div class="col-md-4 col-left">
      <h5>Quick Links</h5>
      <ul>
        <li><a href="https://cyverse.org/" target="_blank">CyVerse</a></li>
        <li><a href="https://datacommons.cyverse.org" target="_blank">CyVerse Data Commons</a></li>
      </ul>
    </div>

    <div class="col-md-4 col-left">
      <h5>Follow Us</h5>
      <ul>
        <li><a href="https://github.com/promethean-gift/" target="_blank"><i class="fa fa-github"></i>GitHub Official</a></li>        
        <li><a href="https://twitter.com/tswetnam" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container license">
  <p><a href="https://nature.org/en-us/" target="_blank">Funded by <img src="assets/tnc-logo.svg" style="width:150px;"/></a> <a href="https://cyverse.org" target="_blank">Powered By <img src="assets/cyverse_cmyk.png" style="width:150px;"/></a> <a href="https://bio5.org/" target="_blank"> Located in the <img src="/assets/bio5_logo.png" style="width:150px;"></a></p>
  
  <p><i class="padding-left"> This material is based upon work supported by the <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1743442&HistoricalAwards=false" target="_blank" style="text-decoration:underline;"><img src="assets/NSF_4-Color_bitmap_Logo.png" style="width:50px;"/>National Science Foundation</a> under Grant No. DBI-0735191, DBI-1265383, DBI-1743442 </i></p>
  <p><i class="fa fa-flag fcenter padding-right" aria-hidden="true"></i>Code licenced under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" style="text-decoration:underline;">GNU GPL 3.0 license</a>. Documentation licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" style="text-decoration:underline;">Creative Commons CC-BY-3.0</a>.</p>
</div>
